#blank{
    padding:0px;
    text-align: justify;
    min-height: 44.6%;
}
#blank2{
    padding:0px;
    text-align: justify;
    min-height: 22%;
}
.footer {
    color:gray;
    clear:both;
    text-align:center;
    padding:0px;
    font-size:12px;
}
html
{
    background-color: white;
    color: black;
}
#wrapper {
    width: 80%;
    margin: 0 auto;
    text-align:center;
}
a:hover, a:active {
    color: red;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}